*cover*
*log/*.log
logs
project/project
project/target
target
tmp
.history
dist
/examples/scala/.idea
/examples/go/pkg/
/examples/go/src/github.com/
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.pyc
*.pyo
.env
local_settings.py
*.sqlite3
